
{% extends "layout.html" %}

{% block content %}

	<div id= "about-content" class="container-fluid">

<div id="about-div-container" class="non-brain-content">
	<!--<h3 id="inspiration">About our Inspiration</h4>
	<p>&nbsp &nbsp &nbsp &nbsp Mapping the Brain was created with the goal of making learning brain anatomy as simple and as intuitive as possible. In our experience, most websites that are designed to teach people about the brain tend to have walls of text and static images for each region, which tends to not be an interactive or enjoyable way to learn. Mapping the Brain allows users to click on any part of the brain to start learning quickly and at their own pace.</p>-->
	<h3 id="about-contributors">About the Contributers</h4>
	<p id="about-text">Mapping the Brain was created for computer science research at Connecticut College in order to test and apply the principles of educational web technology. The contrubiters are Craig Haber, a computer science and psychology double major, and Mikaela Marinis, a computer science major. All content was reviewed by the neuroscience professor Dr. Joseph Schroeder for accuracy.  In addition to Dr. Schroeder, special thanks to Dr. William Tarimo, a professor of computer science, for his continuous guidance and educational technology expertise.</p>
	<p>If you would like to learn more, please check out the FAQ page. Otherwise, you can contact Craig at chaber@conncoll.edu or Mikaela at mmarinis@conncoll.edu.</p>
	<p id="references"><h3>References</h4></p>
	<p class="reference">BrainFacts. (n.d.). Retrieved from https://www.brainfacts.org/.</p>
	<p class="reference">Live Science. (n.d.). Retrieved from https://www.livescience.com/.</p>
	<p class="reference">Medical information and health advice you can trust. (n.d.). Retrieved from https://www.healthline.com/.</p>
	<p class="reference">Mayfield Brain & Spine, Neurosurgery, Spine surgeons, Brain surgeons , Cincinnati, Ohio. (n.d.). Retrieved from http://www.mayfieldclinic.com/.</p>
	<p class="reference">Cerebellum. (2019, November 13). Retrieved from https://www.wikipedia.org/.</p>
	<p class="reference">Ask A Biologist. (n.d.). Retrieved from http://askabiologist.asu.edu/.</p>
	<p class="reference">Johns Hopkins Medicine, based in Baltimore, Maryland. (2019, October 22). Retrieved from https://www.hopkinsmedicine.org/.</p> 
	<p class="reference">American Association of Neurological Surgeons. (n.d.). Retrieved from http://www.aans.org/.</p>
        <p class="reference">Northern Brain Injury Association: British Columbia. (n.d.). Retrieved from https://www.nbia.ca/.</p>
	<p class="reference">National Center for Biotechnology Information. (n.d.). Retrieved from https://www.ncbi.nlm.nih.gov/.</p>
	<p class="reference">Explore scientific, technical, and medical research on ScienceDirect. (n.d.). Retrieved from https://www.sciencedirect.com/.</p>
	<p class="reference">Brain Structure and Function. (n.d.). Retrieved from https://bouve.northeastern.edu/nutraumaticbraininjury/braintbi-anatomy/brain-functions/.</p>
	<p class="reference">Khan Academy. (n.d.). Retrieved from https://www.khanacademy.org/.</p>
	<p class="reference">National Institute on Drug Abuse. (n.d.). National Institute on Drug Abuse (NIDA). Retrieved from http://www.drugabuse.gov/.</p>
	<p class="reference">Neurosci. (2019, November 20). Neuroscientifically Challenged. Retrieved from https://www.neuroscientificallychallenged.com/.</p>
	<p class="reference">Hakala, C. (2012). Ap psychology. New York: Kaplan Pub.</p>
	<p class="reference">Your Brain and Nervous System. Hirsh, Larissa. Retrieved from https://kidshealth.org/.</p>
	<p class="reference">Understanding the brain: a brief history. (2019, January 30). Retrieved from https://qbi.uq.edu.au/brain/intelligent-machines/understanding-brain-brief-history.</p>
	<p class="reference">Mai Jürgen K., Majtanik, M., & Paxinos, G. (2016). Atlas of the human brain. Amsterdam: Academic Press, an imprint of Elsevier.</p>
	<p class="reference">SciELO Colombia- Scientific Electronic Library Online. (n.d.). Retrieved from http://www.scielo.org.co/.</p>
	<p class="reference">Neuroscience For Kids. (n.d.). Retrieved from https://faculty.washington.edu/chudler/functional.html.</p>
	<p class="reference">Austin. (2018, November 10). What is the difference between the pituitary gland and the pineal gland? Retrieved from https://brainstuff.org/blog/difference-between-pituitary-and-pineal-gland.</p>
	<p class="reference">Higher Cortical Functions: Association and Executive Processing (Section 4, Chapter 9) Neuroscience Online: An Electronic Textbook for the Neurosciences: Department of Neurobiology and Anatomy - The University of Texas Medical School at Houston. (n.d.). Retrieved from https://nba.uth.tmc.edu/neuroscience/m/s4/chapter09.html.</p>
	<p class="reference">Stephen M. Kanne, Stanley Finger, Konstantin M. Bykov and the Discovery of the Role of the Corpus Callosum, Journal of the History of Medicine and Allied Sciences, Volume 54, Issue 4, October 1999, Pages 572–590, https://doi.org/10.1093/jhmas/54.4.572</p>
   </div>
		
</div>
	

{% endblock %}
